<main class="main">
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>

      <div class="calendar-container">
        <div class="header">
          <div class="hour-label" style="height: 3rem;"> </div> <!-- placeholder -->
          <div *ngFor="let hour of hours" class="hour-label" style="height: 3rem;">{{ hour }}</div>
        </div>

        <div *ngFor="let day of days" class="day-header" [ngStyle]="{'display': day === 'skip' ? 'none' : 'block'}">{{ day }}</div>

        <ng-container *ngFor="let hour of hours">
          <div *ngFor="let day of days; let i = index" 
               class="yews-calendar-cell" 
               (click)="addEvent(day, hour)">
            <div class="event" *ngIf="events[day + '-' + hour]">{{ events[day + '-' + hour] }}</div>
          </div>
        </ng-container>
      </div>
</main>


<router-outlet />
